# Python
__pycache__/
*.py[cod]
*$py.class

# Data files
labeledTrainData.tsv
testData.tsv
unlabeledTrainData.tsv

# Model files
*.pkl
*.bin

# Submission files


# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.pyc
venv/